services:
  db_postgres:
    image: postgres:15-alpine
    container_name: db_postgres
    profiles:
      - postgresql
    restart: always
    env_file:
      - ./middleware.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-fastapi123456}
      POSTGRES_DB: ${POSTGRES_DB:-fastapi}
      PGDATA: ${PGDATA:-/var/lib/postgresql/data/pgdata}
    networks:
      - one
    command: >
      postgres -c 'max_connections=${POSTGRES_MAX_CONNECTIONS:-100}'
               -c 'shared_buffers=${POSTGRES_SHARED_BUFFERS:-128MB}'
               -c 'work_mem=${POSTGRES_WORK_MEM:-4MB}'
               -c 'maintenance_work_mem=${POSTGRES_MAINTENANCE_WORK_MEM:-64MB}'
               -c 'effective_cache_size=${POSTGRES_EFFECTIVE_CACHE_SIZE:-4096MB}'
               -c 'statement_timeout=${POSTGRES_STATEMENT_TIMEOUT:-0}'
               -c 'idle_in_transaction_session_timeout=${POSTGRES_IDLE_IN_TRANSACTION_SESSION_TIMEOUT:-0}'
    volumes:
      - ./volumes/db/data:/var/lib/postgresql/data
    ports:
      - "${EXPOSE_POSTGRES_PORT:-5432}:5432"
    healthcheck:
      test:
        [
          "CMD",
          "pg_isready",
          "-h",
          "db_postgres",
          "-U",
          "${PGUSER:-postgres}",
          "-d",
          "${DB_DATABASE:-fastapi}",
        ]
      interval: 1s
      timeout: 3s
      retries: 60

  db_mysql:
    image: mysql:8.0
    container_name: db_mysql
    profiles:
      - mysql
    restart: always
    env_file:
      - ./middleware.env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD:-fastapi123456}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-fastapi}
    command: >
      --max_connections=1000
      --innodb_buffer_pool_size=${MYSQL_INNODB_BUFFER_POOL_SIZE:-512M}
      --innodb_log_file_size=${MYSQL_INNODB_LOG_FILE_SIZE:-128M}
      --innodb_flush_log_at_trx_commit=${MYSQL_INNODB_FLUSH_LOG_AT_TRX_COMMIT:-2}
    networks:
      - one
    volumes:
      - ${MYSQL_HOST_VOLUME:-./volumes/mysql/data}:/var/lib/mysql
    ports:
      - "${EXPOSE_MYSQL_PORT:-3306}:3306"
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-u",
          "root",
          "-p${MYSQL_PASSWORD:-fastapi123456}",
        ]
      interval: 1s
      timeout: 3s
      retries: 30

  redis:
    image: redis:6-alpine
    container_name: redis
    restart: always
    env_file:
      - ./middleware.env
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD:-fastapi123456}
    volumes:
      # Mount the redis data directory to the container.
      - ./volumes/redis/data:/data
    # Set the redis password when startup redis server.
    command: redis-server --requirepass ${REDIS_PASSWORD:-fastapi123456}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "redis-cli -a ${REDIS_PASSWORD:-fastapi123456} ping | grep -q PONG",
        ]
    ports:
      - "${EXPOSE_REDIS_PORT:-6379}:6379"
    networks:
      - one

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    profiles:
      - rabbitmq
    restart: always
    env_file:
      - ./middleware.env
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USERNAME:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD:-guest}
      RABBITMQ_DEFAULT_VHOST: ${RABBITMQ_VHOST:-/}
    volumes:
      - ./volumes/rabbitmq/data:/var/lib/rabbitmq
    ports:
      - ${EXPOSE_RABBITMQ_PORT:-5672}:5672
      - ${EXPOSE_RABBITMQ_MANAGEMENT_PORT:-15672}:15672
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - one


networks:
  one:
    driver: bridge
    external: true
